

#contact{
    width: 100%;
    height: 250px;
    margin-top: 64px;
    padding-top: 64px;
    background-color: var(--color-primary);
    background-image: url(../images/IR35.jpeg);
    text-align: center;
    color: white; 
}

#contactFollowUp{
    margin: 32px 0;
    font-weight: 100;
}

.contactIcon{
    font-size: 44px;
}

.contactIcon:hover{
    color: white;
}

