@import "./styles/intro.css";
@import "./styles/experience.css";
@import "./styles/projects.css";
@import "styles/contact.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Oxanium:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

* {
	padding: 0;
	margin: 0;
}

:root {
	--color-bg: #fafafa;
	--color-bg-alt: #e9e9e9;
	--color-primary: #01091e;
	--color-secondary: #b21475;
	--color-tertiary: #1a1151;

	scroll-behavior: smooth;
}

/* ::-webkit-scrollbar{
  display: none;
}
 */

body {
	background-color: #ffffff;
	/* background-image: url("images/background.jpg"); */
}

#logo {
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	color: var(--color-secondary);
	font-weight: 900;
	font-size: 32px;
	margin-left: 20px;
}

#emailBtn {
	font-size: 32px;
	color: var(--color-secondary);
	margin-right: 20px;
	position: relative;
	top: 2px;
}

#emailBtn:hover {
	color: var(--color-primary);
}

nav {
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 7px;
	transform: translateY(0);
	width: 100%;
	height: 40px;
	border-radius: 0;
	padding: 11px 0;
	z-index: 50;
	border-radius: 0;
	/* box-shadow: 10px 10px 27px -8px #00000029; */
	background-color: white;
}

.navigationBar {
	justify-content: center;
	flex-direction: row;
	display: flex;
	justify-content: space-around;
	gap: 0;
	padding: 11px 0;
	width: 45%;
	margin: 0 auto;
}

nav a {
	align-self: center;
	font-size: 0.9rem;
	text-decoration: none;
	font-family:
		mon-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serifospace;
	font-weight: 900;
	text-transform: uppercase;
	color: var(--color-primary);
	padding: 6px;
	border-radius: 6px;
}

nav a:hover {
	color: var(--color-secondary);
}

nav a.active {
	background-color: #bb167c;
	color: #ffffff;
}

.card {
	padding: 0;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 10px 10px 27px -8px rgba(0, 0, 0, 0.16);
	margin: 16px auto;
}

button,
.projectBtn {
	background: none;
	border: none;
	border-radius: 6px;
	padding: 10px;
	margin: 0 10px;
	color: var(--color-secondary);
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	text-decoration: none;
}

.progressContainer {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	margin: 0 auto;
	height: 7px;
	z-index: 60;
	background-color: white;
}

#progressBar {
	background-color: var(--color-secondary);
	border-radius: 0 2px 2px 0px;
	height: 7px;
}

#scrollTopBtn {
	color: var(--color-secondary);
	padding: 0;
	margin: 0;
	font-size: 44px;
	height: 44px;
	width: 44px;
	text-align: center;
	position: fixed;
	bottom: 10px;
	right: -10px;
	transform: translateX(-50%);
	z-index: 9;
	transition: all 0.1s ease-in-out;
	background-color: white;
	border-radius: 50%;
}

#scrollTopBtn:hover {
	width: 48px;
	height: 48px;
	font-size: 48px;
}

.sectionContainer {
	width: 95%;
	margin: 0 auto;
}

.heading,
.subHeading {
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 24px;
	letter-spacing: -1px;
	font-family: Oxanium;
}

.w90 {
	width: 90%;
	margin: 0 auto;
}

.keyword {
	font-weight: 700;
}

.subHeading {
	font-size: 20px;
	letter-spacing: 0px;
	font-weight: 600;
	text-align: center;
}

/* --- MEDIA QUERIES --- */

@media screen and (max-width: 970px) {
	.sectionContainer {
		width: 100%;
	}

	nav a {
		width: auto;
	}
}

@media screen and (max-width: 970px) {
	.progressContainer {
		width: 100%;
	}

	#scrollTopBtn {
		right: -7px;
		font-size: 36px;
		width: 36px;
		height: 36px;
	}
}

@media screen and (max-width: 730px) {
	nav {
		background-color: white;
	}

	.progressContainer {
		background-color: white;
	}

	.navigationBar {
		width: 100%;
	}

	#logo,
	#emailBtn {
		display: none;
	}
}

@media screen and (max-width: 560px) {
	#scrollTopBtn {
		display: none;
	}

	nav a {
		font-size: 0.7rem;
	}
}
